.section-indicator {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  .line {
    height: 2px;
    width: 40px;
    background: red;
    border-radius: 20px;
  }
}
